.addTest{
  height: 25px;
  width: 100px;
  float:right;
  /* bg-light-green ma2 grow bw2 shadow-5 */
}
.deleteTest{
  height: 25px;
  width: 100px;
  float:right;
  /* bg-light-green ma2 grow bw2 shadow-5 */
}
.Func{
  position: relative;
  justify-content: center;
  float:left;
  background:lightblue;
  max-width: 300px;
  max-height: 300px;
  overflow-y: scroll;
}


#add-func{
  width:100%;
  background-color:rgb(43, 43, 43);
  height: 50px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}


.wrapper{
}

.code{
  background:lightcyan;
  grid-area: code;
  border-radius: 10px;
}

.code-bottom {
  height:100%;
  display:flex;
  justify-content:center;
  margin-top:3em;
}

#generate-btn{
  border-radius: 7px;
  min-height: 30px;
  min-width: 70px;
  background-color:rgb(105, 191, 231);
  color:white;
  font-weight:bold;

}

.main-nav ul {
  background: pink;
  display:grid;
  grid-gap:20px;
  justify-items:center;
  grid-template-columns: 1fr 1fr 1fr 8fr;
  min-height: 40px;
  align-items: center;
  list-style:none;
  margin:0;
}

.main-nav li {
  background:lightcyan;
  border-radius: 6px;
  min-width: 80px;
  min-height: 30px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.main-area {
  display:grid;
  grid-template-areas:
  'input-area input-area code'
  ;

}


.input-area{
  background-color: lightskyblue;
  grid-area: input-area;
  min-height: 50em;
  border-radius: 10px;
  overflow-y:scroll;
  max-height: 8em;
}

#func-wrapper{
  display:grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
}
