.addTest{
    height: 25px;
    width: 100px;
    float:right;
    /* bg-light-green ma2 grow bw2 shadow-5 */
}
.deleteTest{
    height: 25px;
    width: 100px;
    float:right;
    /* bg-light-green ma2 grow bw2 shadow-5 */
}
.Func{
    position: relative;
    justify-content: right;
    float:left;
    background:lightblue;
    height:100%;
    width: 300px;
}